body {
  font-size: 16px;
  color: #000;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
  /*height: 80px;*/
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bolder;
  /*text-shadow: 1px 1px 1px #222;*/
  /*margin-top: 0;*/
  margin-bottom: 0;
  line-height: .75;
  margin: 0 40px;
  padding-top: 0;
}

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav ul {
	display: none;
	vertical-align: middle;
}
/* END HEADER */

/* Content*/
.heading {
	text-align: center;
	/*padding: 2px 20px 20px 20px;*/
	font-size: 2vw;
}
.container div {
	text-align: justify;
	background-color: grey;
}
.container div p {
	margin-top: 15px;
}
.container div h5 {
	margin-top: 15px;
	padding-top: 5px;
	text-align: center;
	font-weight: bold;
}

.heading h3 {
	padding: 15px 20px;
	margin: 0 0 20px 0;
	font-weight: bold;
}



@media (min-width: 992px){


}
@media (min-width: 768px) and (max-width: 991px){
	
	}

@media (max-width: 768px){

	#header-nav {
  		background-color: grey;
  		border-radius: 0;
  		border: 0;
  		/*height: 40px;*/
			}	
	#collapsable-nav ul{
	display:block;
	/*vertical-align: middle;*/
	text-align: center;
	background-color: white;
	margin-top: 0;
	margin-bottom: 0;
	}

	ul li {
		border-right: 2px solid black;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
	}

	#one-line{
		border-top: 2px solid black;
	}
	.container #content {
	text-align: justify;
	background-color: grey;
	padding: 0 20px;
}
}
