/*CSS main style*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* header style */
#header-nav {
	border-radius: 0;
	margin: 0;
	background-color: grey;
	height: 80px;
	padding: 0px 0;
}

.row {

}

.container {
	margin: 1%;
	width: 98%;
}
h1 {
	margin: 0 40px;
	padding-top: 0;
	background-color: grey;
	color: white;
	font-weight: bolder;
}
.navbar-header, .navbar-brand {
	margin: 0;
	padding: 5px 0;
	/*background-color: grey;*/

}
#main-content {
	padding: 0;
	margin: 0;
	
}
 .container div p, .container div h5 {
	background-color: grey;
	padding: 0;
	margin: 0;
}
.container div {
	text-align: justify;
	background-color: grey;
}
.heading {
	font-family: sans-serif;
	text-align: center;
	/*padding: 2px 20px 20px 20px;*/
	font-size: 2vw;
}
.heading h3 {
	padding: 15px 20px;
	margin: 0 0 20px 0;
	font-weight: bold;
}
.container h5 {
	font-weight: bold;
	text-align: center;

}
.container div p {
	margin-top: 15px;
}

.container div h5 {
	margin-top: 15px;
	padding-top: 5px;
}
#collapsable-nav ul {
	display: none;
	vertical-align: middle;
}

#nav-list {


}
.row {
	margin: 0;
}

@media (min-width: 992px){


}
@media (min-width: 768px) and (max-width: 991px){
	/*.heading h3 {
	padding: 15px 20px;
	margin: 0 0 20px 0;
	font-weight: bold;*/

	
	}

@media (max-width: 768px){

	.container div {
	text-align: justify;
	background-color: grey;
	margin: 0 40px;
	}

	.heading h3 {
	padding: 25px 0 0px 0;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 2.5em;
	}
	.container h5 {
	font-weight: bolder;
	text-align: center;
	font-size: 1.5em;
	}
	h1 {
	margin: 0 5px;
	/*padding-top: 10px;*/
	background-color: grey;
	color: white;
	font-weight: bolder;
	font-size: 2em;
	}
	.container div p {
	margin: 15px 20px;
}
	#header-nav {
	border-radius: 0;
	margin: 0;
	background-color: grey;
	height: 75px;
	padding: 5px 0;
}

	.container {
		width:98%;
		/*padding: 0px;*/
		margin: 1%;
		/*position: absolute;*/
		/*left: 5px;*/
		/*overflow: hidden;*/
		
	}
	#collapsable-nav ul{
	display:block;
	/*vertical-align: middle;*/
	text-align: center;
	background-color: white;
	margin-top: 0;
	}
	ul li {
		border-right: 2px solid black;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
	}
	#one-line{
		border-top: 2px solid black;
	}

	#collapsable-nav {
		background: white;
		/*width: 100%;*/
		/*left: 0;*/

	}
	.row{
		margin: 0;
		/*position: absolute;*/
		width: auto;
	}

	.navbar-header {
		margin: 0;
		padding: 5px 0;
	/*background-color: grey;*/ 
	}
}